<div>
    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0 border-left-blue pr-4 pl-4 pb-3">
                <div class="grid flex align-items-center pb-4">
                    <button type="button" class="p-button flex border-1 w-2rem h-2rem p-0 align-items-center justify-content-center transition-all transition-duration-300 min-w-0">
                        <i class="pi pi-home"></i>
                    </button>
                    <span class="font-semibold pl-1">Ocupação</span>
                </div>

                <div class="grid pt-2">
                    <div class="col p-0 right-border">
                        <div class="text-center border-round-sm font-bold">14</div>
                        <div class="text-center border-round-sm">Disponível</div>
                    </div>
                    <div class="col p-0">
                        <div class="text-center border-round-sm font-bold">2</div>
                        <div class="text-center border-round-sm">Ocupados</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0 border-left-green pr-4 pl-4 pb-3">
                <div class="grid flex align-items-center pb-4">
                    <button type="button" class="p-button flex border-1 w-2rem h-2rem p-0 align-items-center green-background justify-content-center transition-all transition-duration-300 min-w-0">
                        <i class="pi pi-users"></i>
                    </button>
                    <span class="font-semibold pl-1">Hóspedes</span>
                </div>

                <div class="grid pt-2">
                    <div class="col p-0 right-border">
                        <div class="text-center border-round-sm font-bold">14</div>
                        <div class="text-center border-round-sm">Adultos</div>
                    </div>
                    <div class="col p-0">
                        <div class="text-center border-round-sm font-bold">2</div>
                        <div class="text-center border-round-sm">Crianças</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0 border-left-purple pr-4 pl-4 pb-3">
                <div class="grid flex align-items-center pb-4">
                    <button type="button" class="p-button flex border-1 w-2rem h-2rem p-0 align-items-center purple-background justify-content-center transition-all transition-duration-300 min-w-0">
                        <i class="pi pi-calendar-plus"></i>
                    </button>
                    <span class="font-semibold pl-1">Check-in Hoje</span>
                </div>

                <div class="grid pt-2">
                    <div class="col p-0 right-border">
                        <div class="text-center border-round-sm font-bold">14</div>
                        <div class="text-center border-round-sm">Concluidos</div>
                    </div>
                    <div class="col p-0">
                        <div class="text-center border-round-sm font-bold">2</div>
                        <div class="text-center border-round-sm">Pendentes</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0 border-left-red pr-4 pl-4 pb-3">
                <div class="grid flex align-items-center pb-4">
                    <button type="button" class="p-button flex border-1 w-2rem h-2rem p-0 align-items-center red-background justify-content-center transition-all transition-duration-300 min-w-0">
                        <i class="pi pi-calendar-minus"></i>
                    </button>
                    <span class="font-semibold pl-1">Check-out Hoje</span>
                </div>

                <div class="grid pt-2">
                    <div class="col p-0 right-border">
                        <div class="text-center border-round-sm font-bold">14</div>
                        <div class="text-center border-round-sm">Concluidos</div>
                    </div>
                    <div class="col p-0">
                        <div class="text-center border-round-sm font-bold">2</div>
                        <div class="text-center border-round-sm">Pendentes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--*********** CARDS CABECALHO ***********-->

    <div class="flex justify-content-between flex-wrap">
        <div class="pt-3 pb-4">
            <p-button label="Nova Reserva " icon="pi pi-plus" (onClick)="show()" />
        </div>
        <div class="pt-3 pb-4 pl-2">
            <p-chips placeholder="Palavra Chave" />
            <p-button class="pl-2" icon="pi pi-sliders-h" />
        </div>
        
    </div>

    <div class="grid">
        <div *ngFor="let reservation of reservationList" class="col-12 lg:col-6 xl:col-3">
            <div class="card pb-0 pt-2 pl-2 pr-2">
                <div class="grid p-4 border-radius flex justify-content-between flex-wrap" [ngClass]="getCardGroundColor(reservation.situation)">
                    <span class="text-xl font-semibold white-color">{{ reservation.housingUnit }}</span>
                    <i class="text-xl pi pi-ellipsis-v white-color"></i>
                </div>

                <p-inputGroup class="pt-4 pl-3">
                    <p-inputGroupAddon>
                        <i class="pi pi-user"></i>
                    </p-inputGroupAddon>
                    <input class="lg:col-10 xl:col-10" pInputText placeholder="{{ reservation.guest }}" />
                </p-inputGroup>

                <p-inputGroup class="pt-3 pl-3">
                    <p-inputGroupAddon>
                        <i class="pi pi-calendar"></i>
                    </p-inputGroupAddon>
                    <input class="lg:col-10 xl:col-10" pInputText placeholder="{{ reservation.initialDate }} - {{ reservation.finalDate }}" />
                </p-inputGroup>
                <div class="grid pt-4 pl-4">
                    <p-tag class="pr-2" severity="primary" value="{{ reservation.category }}" [rounded]="true" />
                    <p-tag severity="danger" value="{{ getSituationLabel(reservation.situation) }}" [rounded]="true" severity="{{ getSituationTagColor(reservation.situation) }}" />
                </div>

                <div *ngIf="reservation.situation == 'preBooked' || reservation.situation == 'booked'" class="flex justify-content-center flex-wrap gap-3 mt-4 pb-3">
                    <div class="flex w-full">
                        <div class="flex-1 p-2 text-center">
                            <p-button label="Editar" severity="secondary" [outlined]="true"size="normal" styleClass="w-full h-full" />
                        </div>
                        <div class="flex-1 p-2 text-center">
                            <p-button label="Hospedar" [outlined]="true" size="normal" styleClass="w-full h-full" />
                        </div>
                    </div>
                </div>

                <div *ngIf="reservation.situation == 'busy'" class="flex justify-content-center flex-wrap gap-3 mt-4 pb-3">
                    <div class="flex w-full">
                        <div class="flex-1 p-2 text-center">
                            <p-button label="Editar" [outlined]="true" size="normal"  severity="secondary" styleClass="w-full h-full" />
                        </div>
                        <div class="flex-1 p-2 text-center">
                            <p-button label="Check-out" [outlined]="true" severity="danger" size="normal" styleClass="w-full h-full" />
                        </div>
                    </div>
                </div>

                <div *ngIf="reservation.situation == 'inCleaning'" class="flex justify-content-center flex-wrap gap-3 mt-4 pb-3">
                    <div class="flex w-full">
                        <div class="flex-1 p-2 text-center">
                            <p-button label="Limpeza finalizada" [outlined]="true" severity="info" size="normal" styleClass="w-full h-full" />
                        </div>
                    </div>
                </div>

                <div *ngIf="reservation.situation == 'available'" class="flex justify-content-center flex-wrap gap-3 mt-4 pb-3">
                    <div class="flex w-full">
                        <div class="flex-1 p-2 text-center">
                            <p-button label="Hospedar" size="normal" [outlined]="true" styleClass="w-full h-full" />
                        </div>
                    </div>
                </div>

                <div *ngIf="reservation.situation == 'blocked'" class="flex justify-content-center flex-wrap gap-3 mt-4 pb-3">
                    <div class="flex w-full">
                        <div class="flex-1 p-2 text-center">
                            <p-button label="Desbloquear Quarto" [outlined]="true" severity="secondary" size="normal" styleClass="w-full h-full" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
