<p-panel  header="Quartos">
    <p-table #dt1  class="mt-4" [value]="room" [paginator]="true" [rows]="11" [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5, 10, 20]" [globalFilterFields]="['name', 'description']">
        <ng-template pTemplate="caption">
            <div class="flex pb-5">
                <p-button  label="Novo quarto" icon="pi pi-plus" (onClick)="navigateToRoomForm()" />
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="searchValue" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Procure por quarto" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 5%">Estado</th>
                <th style="width: 25%">Nome</th>
                <th style="width: 35%">Categorias</th>
                <th style="width: 35%">Descrição</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-room>
            <tr>
                <td><p-tag [value]="getValue(room.active)" [severity]="getSeverity(room.active)" /></td>
                <td> <span class="clickableLink" (click)="navigateToRoomForm(room)">{{ room.name }}</span></td>
                <td>{{ room.name }}</td>
                <td>{{ room.description }}</td>
                
            </tr>
        </ng-template>
    </p-table>
</p-panel>
