<div class="layout-topbar">
    <div class="layout-topbar-inner">
        <div class="layout-topbar-logo-container">

        </div>

        <ul class="flex list-none m-0 p-0 gap-2 align-items-center ">
            <li>
                <div id="docsearch"></div>
            </li>
            <li>
                <button type="button"
                    class="flex flex-shrink-0 px-link border-1 border-solid w-2rem h-2rem surface-border border-round surface-card align-items-center justify-content-center transition-all transition-duration-300 hover:border-primary"
                    (click)="toggleDarkMode()">
                    <i class="pi " [ngClass]="{'pi-moon': isDarkMode, 'pi-sun': !isDarkMode}"></i>
                </button>
            </li>
            <li *ngIf="showConfigurator" class="relative">
                <button type="button"
                    class="p-button flex border-1 w-2rem h-2rem p-0 align-items-center justify-content-center transition-all transition-duration-300 min-w-0"
                    (click)="showConfig()">
                    <i class="pi pi-palette"></i>
                </button>
            </li>
            <li *ngIf="showMenuButton" class="menu-button">
                <button type="button"
                    class="flex flex-shrink-0 px-link border-1 border-solid w-2rem h-2rem surface-border border-round surface-card align-items-center justify-content-center transition-all transition-duration-300 hover:border-primary menu-button"
                    (click)="toggleMenu()" aria-haspopup aria-label="Menu">
                    <i class="pi pi-bars"></i>
                </button>
            </li>
        </ul>
    </div>
</div>
